@import "@/assets/css/variables.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		@apply antialiased m-0 p-0 box-border;
	}
	html {
		@apply overflow-x-hidden leading-6;
	}
	body {
		@apply flex flex-col text-font bg-main h-screen;
	}
	button {
		@apply leading-inherit font-inherit hover:cursor-pointer;
	}
	select {
		@apply leading-inherit font-inherit appearance-none;
	}
}

/* MAIN PAGE */
h1.first-heading {
	font-size: 2.5rem;
	line-height: 3rem;
	font-weight: bold;
	margin: 24px 0 32px;
	font-style: normal;
	color: rgb(var(--heading-color));
	letter-spacing: 0;
}

h1.first-heading::after {
	content: "";
	display: block;
	width: 3rem;
	padding-top: 0.5rem;
	border-bottom: 5px solid rgb(var(--after-border-color));
}

h2.second-heading {
	font-size: 1.25rem;
	line-height: 1.875rem;
	margin: 24px 0 32px;
	color: rgb(var(--heading-color));
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
}

.slide-fade-enter-active {
	transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
	transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
	transform: translateX(20px);
	opacity: 0;
}

.main-section {
	display: flex;
	flex-direction: column;

	margin-bottom: 3rem;
}

/* FORMS */
.form-section {
	display: flex;
	flex-direction: column;

	margin-bottom: 3rem;
}

.inline {
	display: flex;
	align-content: flex-start;
	align-items: center;
	column-gap: 3rem;
}

.inline > * {
	flex: 0.5;
}

.full {
	width: 100%;
}

.half {
	width: 50%;
}

.input-group {
	display: flex;
	flex-direction: column;

	margin-bottom: 1.5rem;
}

.data-group {
	display: flex;
	flex-direction: column;

	margin-bottom: 1.5rem;
}

.data {
	font-weight: bold;
}

.input {
	border: solid 1px rgb(var(--input-border-color));
	border-radius: 3px;
	font: inherit;
	height: 45px;
	width: 100%;
	padding: 0.375rem 0.75rem;
	margin: 0.5rem 0 0;
	line-height: 1.5;
	transition: all 0.2s;
}

.input:focus {
	box-shadow: 0 4px 12px rgba(var(--dark-font-color), 0.5);
	outline: 0.1rem solid rgba(var(--dark-font-color), 0.5);
}

.input:disabled {
	background-color: rgb(var(--input-bg-disabled-color));
	font: inherit;
	color: rgba(var(--dark-font-color), 0.75);
}

.submit-btn {
	color: rgba(var(--pale-font-color), 0.9) !important;
	border: solid 1px rgb(var(--submit-btn-border-color));
	padding: 0.375rem 0.75rem;
	background-color: rgb(var(--submit-btn-bg-color));
	transition: all 0.2s;
}

.submit-btn:hover {
	background-color: rgb(var(--submit-btn-bg-hover-color));
}

.cancel-btn {
	color: rgba(var(--dark-font-color), 0.9) !important;
	border: solid 1px rgb(var(--cancel-btn-border-color));
	padding: 0.375rem 0.75rem;
	margin-right: 1rem;
	background-color: rgb(var(--cancel-btn-bg-color));
	transition: all 0.2s;
}

.cancel-btn:hover {
	background-color: rgb(var(--cancel-btn-bg-hover-color));
}

.form-span {
	display: block;
	text-align: end;
}

.error-label {
	color: rgb(var(--error-font-color));
	font-weight: 500;
}

.filter-form {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	column-gap: 1rem;
}

/* https://codepen.io/raubaca/pen/VejpQP */
.select {
	position: relative;
	display: flex;
	min-width: 10rem;
	background: var(--background-select);
	border: 1px solid rgb(var(--cancel-btn-border-color));
	border-radius: 0.5rem;
	overflow: hidden;
	transition: 0.25s all ease;
}

.select:hover {
	box-shadow: 0 4px 12px rgba(var(--dark-font-color), 0.5);
}

.link-btn {
	width: fit-content;
	padding: 0;
	border: none;
	background: none;
}
.filter {
	flex: 1;
	padding: 1em;
	cursor: pointer;

	background-color: transparent;
	border-style: none;
}

.card-list-enter-active,
.card-list-leave-active {
	transition: all 0.5s ease;
}
.card-list-enter-from,
.card-list-leave-to {
	opacity: 0;
	transform: translateX(30px);
}

.card-list {
	margin-top: 2rem;
}

.card {
	margin-bottom: 2rem;
	padding: 2rem 3rem;
	background-color: rgb(238, 239, 243);
	border-radius: 5px;
	border: 0.5px solid rgba(var(--dark-font-color), 0.3);
	box-shadow: 0 4px 12px rgba(var(--dark-font-color), 0.5);
}

.card-header {
	padding-bottom: 0.5rem;
	border-bottom: 0.5px solid rgba(var(--dark-font-color), 0.3);
	font-weight: bold;
}

.card-body {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin-top: 1rem;
}
