@import "@/assets/css/variables.css";

/* RESET */

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BASE STYLES */
html {
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;

  font-family: 'Roboto', 'Helvetica Neue', sans-serif; 
  color: rgb(var(--main-font-color));
  background-color: rgb(var(--main-bg-color));
  height: 100vh;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.small-label {
  font-size: 0.8em;
}

/* KEYFRAMES */
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounce {
  25% {
    transform: translatey(5px);
  }

  75% {
    transform: translatey(-5px);
  }
}

/* HEADER */

.header {
  width: 100%;
  background-color: rgb(var(--brand-bg-color));
  color: rgb(var(--pale-font-color));
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 0;
}

.logo-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 65px;
}

.title {
  font-size: 1.1rem;
  font-weight: lighter;
  color: rgba(var(--pale-font-color), 0.95);
  line-height: 1.5;
  letter-spacing: 0.5px;
}

.header-links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-around;
  row-gap: 6px;

  margin-right: 70px;
  list-style: none;
}

.header-link {
  font-size: 0.850rem;
  text-decoration: none;
  color: rgba(var(--pale-font-color), 0.9);
  transition: all 0.2s;
}

.header-link:hover {
  cursor: pointer;
  text-decoration: underline;
  color: rgba(var(--pale-font-color), 1);
}

/* NAVBAR */
.navbar {
  width: 100%;
  background-color: rgb(var(--navbar-bg-color));
}

.navlinks {
  display: flex;
  align-content: flex-start;
  align-items: center;

  padding: 0 15px;
}

.navlink {
  color: rgba(var(--pale-font-color), 0.9);
  text-decoration: none;
  font-size: 1em;
  border-width: 0 1px 0 1px;
  border-style: none solid none solid;
  border-color: rgba(var(--pale-font-color), 0.9);
  padding: 15px 30px;
  transition: all 0.2s;
}

.navlink:hover, .navlink.active:hover {
  cursor: pointer;
  background-color: rgb(var(--navlink-bg-hover-color));
}

.navlink.active {
  background-color: rgb(var(--navlink-bg-active-color));
}

/* MAIN PAGE */
.page {
  padding: 20px 15px 35px 15px;
}

h1.first-heading {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: bold;
  margin: 24px 0 32px;
  font-style: normal;
  color: rgb(var(--heading-color));
  letter-spacing: 0;

  animation: fade-in 0.4s;
}

h1.first-heading::after {
  content: '';
  display: block;
  width: 3rem;
  padding-top: 0.5rem;
  border-bottom: 5px solid rgb(var(--after-border-color));
}

h2.second-heading {
  font-size: 1.25rem;
  line-height: 1.875rem;
  margin: 24px 0 32px;
  color: rgb(var(--heading-color));
  font-family: "Open Sans",sans-serif;
  font-weight: 400;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

.main-section {
  display: flex;
  flex-direction: column;

  margin-bottom: 3rem;

  /*animation: fade-in 0.4s 0.1s backwards;*/
}

/* FORMS */
.form-section {
  display: flex;
  flex-direction: column;

  margin-bottom: 3rem;

  animation: fade-in 0.4s 0.1s backwards;
}

.form {
  width: 50%;
}

.input-group {
  display: flex;
  flex-direction: column;

  margin-bottom: 1.5rem;
}

.data-group {
  display: flex;
  flex-direction: column;

  margin-bottom: 1.5rem;
}

.data {
  font-weight: bold;
}

.input-label {

}

.input {
  border: solid 1px rgb(var(--input-border-color));
  border-radius: 3px;
  font: inherit;
  height: 45px;
  width: 100%;
  padding: 0.375rem 0.75rem;
  margin: 0.5rem 0 0;
  line-height: 1.5;
  transition: all 0.2s;
}

.input:focus {
  box-shadow: 0 4px 12px rgba(var(--dark-font-color), 0.5);
  outline: 0.1rem solid rgba(var(--dark-font-color), 0.5);
}

.input:disabled {
  background-color: rgb(var(--input-bg-disabled-color));
  font: inherit;
  color: rgba(var(--dark-font-color), 0.75);
}

.submit-btn {
  color: rgba(var(--pale-font-color), 0.9) !important;
  border: solid 1px rgb(var(--submit-btn-border-color));
  padding: 0.375rem 0.75rem;
  background-color: rgb(var(--submit-btn-bg-color));
  transition: all 0.2s;
}

.submit-btn:hover {
  background-color: rgb(var(--submit-btn-bg-hover-color));
}

.cancel-btn {
  color: rgba(var(--dark-font-color), 0.9) !important;
  border: solid 1px rgb(var(--cancel-btn-border-color));
  padding: 0.375rem 0.75rem;
  margin-right: 1rem;
  background-color: rgb(var(--cancel-btn-bg-color));
  transition: all 0.2s;
}

.cancel-btn:hover {
  background-color: rgb(var(--cancel-btn-bg-hover-color));
}

.form-span {
  display: block;
  text-align: end;
}

.form-link {
  margin-left: 0.5rem;
  font-weight: normal !important;
  text-decoration: underline !important;
}

.error-label {
  color: rgb(var(--error-font-color));
  font-weight: 500;
}

.filter-form {
  display: flex;
  justify-content: end;
  align-items: center;
  column-gap: 1rem;
}

/* https://codepen.io/raubaca/pen/VejpQP */
.select {
  position: relative;
  display: flex;
  min-width: 10rem;
  background: var(--background-select);
  border: 1px solid rgb(var(--cancel-btn-border-color));
  border-radius: 0.5rem;
  overflow: hidden;
  transition: 0.25s all ease;
}

.select:hover {
  box-shadow: 0 4px 12px rgba(var(--dark-font-color), 0.5);
}


.filter {
  flex: 1;
  padding: 1em;
  cursor: pointer;
}

.select::after {
  content: "\25BC";
  position: absolute;
  right: 1rem;
  top: 1rem;
  transition: 0.25s all ease;
  pointer-events: none;
}

.select:hover::after {
  color: rgb(var(--brand-bg-color));
  animation: bounce 0.5s infinite;
}

/* SOCIALS */
.socials {
  width: 100%;
  background-color: rgb(var(--socials-bg-color));
}

.socials-section {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;

  color: rgba(var(--pale-font-color), 0.9);
}

.card-list-enter-active,
.card-list-leave-active {
  transition: all 0.5s ease;
}
.card-list-enter-from,
.card-list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.card-list {
  margin-top: 2rem;
}

.card {
  margin-bottom: 2rem;
  padding: 2rem 3rem;
  background-color: rgb(238,239,243);
  border-radius: 5px;
  border: 0.5px solid rgba(var(--dark-font-color), 0.3);
  box-shadow: 0 4px 12px rgba(var(--dark-font-color), 0.5);
}

.card-header {
  padding-bottom: 0.5rem;
  border-bottom: 0.5px solid rgba(var(--dark-font-color), 0.3);
  font-weight: bold;
}

.card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 1rem;
}

/* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: auto;
  padding: 20px 0 50px;

  animation: fade-in 0.4s 0.2s backwards;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 3px;

  list-style: none;
}

.footer-link, .vertical-line, .footer-link > a, .copyright, .form-link {
  color: rgb(var(--link-font-color));
  text-decoration: none;
  font-weight: 400;
}

.vertical-line {
  color: rgba(var(--link-font-color), 0.5);
}

.footer-link:hover, .copyright:hover {
  cursor: pointer;
  text-decoration: underline;
}

footer > img.logo {
  max-width: 144px;
}