/* RESET */

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BASE STYLES */
html {
  overflow-x: hidden;
}

body {
  font-family: 'Roboto', 'Helvetica Neue', sans-serif; 
  color: #292C33;
  background-color: #EEEFF3;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

/* HEADER */

.header {
  width: 100%;
  background-color: #095797;
  color: #fff;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 0;
}

.logo-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 65px;
}

.title {
  font-size: 18px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.95);
}

.logo {

}

header nav {
  
}

.header-links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-around;
  row-gap: 6px;

  margin-right: 70px;
  list-style: none;
}

.header-link {
  font-size: 14px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
  transition: all 0.2s;
}

.header-link:hover {
  cursor: pointer;
  text-decoration: underline;
  color: rgba(255, 255, 255, 1);
}

/* NAVBAR */
.navbar {
  width: 100%;
  background-color: #00374c;
}

.navlinks {
  display: flex;
  align-content: flex-start;
  align-items: center;

  padding: 0 15px;
}

.navlink {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
  border-width: 0 1px 0 1px;
  border-style: none solid none solid;
  border-color: rgba(255, 255, 255, 0.9);
  padding: 15px 30px;
  transition: all 0.2s;
}

.navlink:hover {
  cursor: pointer;
  background-color: #045280;
}