/* RESET */

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BASE STYLES */
html {
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;

  font-family: 'Roboto', 'Helvetica Neue', sans-serif; 
  color: #292C33;
  background-color: #EEEFF3;
  height: 100vh;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.small-label {
  font-size: 0.8em;
}

/* KEYFRAMES */
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* HEADER */

.header {
  width: 100%;
  background-color: #095797;
  color: #fff;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 0;

  animation: fade-in 0.4s;
}

.logo-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 65px;
}

.title {
  font-size: 1.1rem;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.95);
  line-height: 1.5;
  letter-spacing: 0.5px;
}

.header-links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-around;
  row-gap: 6px;

  margin-right: 70px;
  list-style: none;
}

.header-link {
  font-size: 0.850rem;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
  transition: all 0.2s;
}

.header-link:hover {
  cursor: pointer;
  text-decoration: underline;
  color: rgba(255, 255, 255, 1);
}

/* NAVBAR */
.navbar {
  width: 100%;
  background-color: #00374c;
}

.navlinks {
  display: flex;
  align-content: flex-start;
  align-items: center;

  padding: 0 15px;
}

.navlink {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
  font-size: 1em;
  border-width: 0 1px 0 1px;
  border-style: none solid none solid;
  border-color: rgba(255, 255, 255, 0.9);
  padding: 15px 30px;
  transition: all 0.2s;
}

.navlink:hover {
  cursor: pointer;
  background-color: #045280;
}

/* MAIN PAGE */
.page {
  padding: 20px 15px 35px 15px;
}

h1.first-heading {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: bold;
  margin-top: 1.2rem;
  margin-bottom: 0.5rem;
  font-style: normal;
  color: #223654;
  letter-spacing: 0;
}

h1.first-heading::after {
  content: '';
  display: block;
  width: 3rem;
  padding-top: 0.5rem;
  border-bottom: 5px solid #f09686;
}

h2.second-heading {
  font-size: 1.25rem;
  line-height: 1.875rem;
  margin: 24px 0 32px;
  color: #223654;
  font-family: "Open Sans",sans-serif;
  font-weight: 400;
}

/* FORMS */
.form-section {
  display: flex;
  flex-direction: column;

  margin-bottom: 3rem;
}

.form {
  width: 50%;
}

.input-group {
  display: flex;
  flex-direction: column;

  margin-bottom: 1.5rem;
}

.input-label {

}

.input {
  border: solid 1px #808A9D;
  font: inherit;
  font-size: 0.875rem;
  height: 40px;
  width: 100%;
  padding: 0.375rem 0.75rem;
  margin: 0.5rem 0 0;
  line-height: 1.5;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.submit-btn {
  color: rgba(255, 255, 255, 0.9) !important;
  border: solid 1px #808A9D;
  padding: 0.375rem 0.75rem;
  background-color: #095797;
  transition: all 0.2s;
}

.submit-btn:hover {
  background-color: #146bb2;
}

/* SOCIALS */
.socials {
  width: 100%;
  background-color: #015480;
}

.socials-section {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;

  color: rgba(255, 255, 255, 0.9);
}

/* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: auto;
  padding: 20px 0 50px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 3px;

  list-style: none;
}

.footer-link, .vertical-line, .footer-link > a, .copyright {
  color: #00547F;
  text-decoration: none;
  font-weight: 400;
}

.vertical-line {
  color: rgb(0,84,127, 0.5);
}

.footer-link:hover, .copyright:hover {
  cursor: pointer;
  text-decoration: underline;
}

footer > img.logo {
  max-width: 144px;
}