:root {
    --brand-bg-color: 9,87,151;
    --main-bg-color: 238,239,243;
  
    --navbar-bg-color: 0,55,76;
    --navlink-bg-hover-color: 4,82,128;
  
    --main-font-color: 41,44,51;
    --pale-font-color: 255,255,255;
    --dark-font-color: 0,0,0;
  
    --link-font-color: 0,84,127;
    --socials-bg-color: 1,84,128;
  
    --heading-color: 34,54,84;
    --after-border-color: 240,150,134;
  
    --error-font-color: 255,0,0;
  
    --input-bg-disabled-color: 227,231,236;
    --input-border-color: 128,138,157;
  
    --submit-btn-border-color: 128,138,157;
    --submit-btn-bg-color: 9,87,151;
    --submit-btn-bg-hover-color: 20,107,178;
  
    --cancel-btn-border-color: 137,137,145;
    --cancel-btn-bg-color: 203,209,214;
    --cancel-btn-bg-hover-color: 144,147,150;

    --background-select: linear-gradient(to left, #dce3e9 3rem, rgb(238,239,243) 3rem);
  }